<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>board_app</title>
  <link href="index.css" rel="stylesheet">
</head>
<body>
  <div id="board">
     <h2>掲示板</h2>
     <ul class="lists" style="list-style-type: none">
       <board-list v-for="list in lists"
         v-bind:name="list.name"
         v-bind:message="list.message"
         v-bind:date="list.date">
       </board-list>
     </ul>
     コメント: <textarea v-model="message"></textarea> </br>
     <button v-on:click="doAdd">投稿</button> -->
     <board-form v-on:input="doAdd"></board-form>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <script src="main.js"></script>
</body>
</html>
